<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Sky-Panda</h1>
    <p>This is a sample Node application deployed to Heroku. </p> 
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=MrARVNnAgn8kwfGHnfroU38iRbsqtLno&redirect_uri=http%3A%2F%2Fsky-panda.herokuapp.com%2Foauth%2Fcallback%3Fscope=data:read">Click here to grant access to your data!</a>
  </div>
</div>

<div class="container">
</div>

</body>
</html>
