<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Maowen's Blog</h1>
    <p>This is a simple blog site </p>
  </div>
</div>

<div class="container">
</div>

<div class="container" id="react-container">
</div>
<div class="container" id="react-markdown">
</div>

<script src="js/bundle.js"></script>

</body>
</html>
